* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: black;
  color: grey;
  height: 70px;
  line-height: 70px;
  padding-left: 50px;
}

main {
  width: 720px;
  margin: auto;
}

#task-form {
  margin-bottom: 30px;
}

#task-name {
  width: 400px;
  height: 30px;
  margin-left: 100px;
  margin-right: 20px;
}

#add-button {
  all: initial;
  background-color: #3279b7;
  color: white;
  height: 30px;
  width: 50px;
  text-align: center;
  border-radius: 5%;
}

ul {
  all: initial;
}

li {
  all: initial;
  margin: 0 30px;
  display: block;
  border: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
}

li > input {
  margin: 0 20px;
}

li > span {
  padding: 0 10px;
}

li > img {
  float: right;
  margin: 0 30px;
  width: 16px;
}
